[submodule "test/include/lv_drivers"]
	path = include/lv_drivers
	url = https://github.com/littlevgl/lv_drivers.git
	ignore = dirty
[submodule "test/include/lvgl"]
	path = include/lvgl
	url = https://github.com/littlevgl/lvgl
	ignore = dirty